:root{
  --lightPurple:#5c1dad;
  --primaryWhite: #f6f0ff;
  --primaryBlack:#191a15l
}
body{
  font-family: 'Quicksand', sans-serif  !important; 
  background: var(--primaryWhite) !important;
  color: var(--primaryBlack) !important;
  min-height: 100%;
  text-align: center;
}
.text-title{
  font-family: 'Quicksand', sans-serif  !important; 
  text-transform: uppercase;
}
.text-logo{
  font-family: 'Lacquer', sans-serif !important;
  letter-spacing: 0.2rem;
  color: var(--primaryWhite);
}
.text-purple{
  color: var(--lightPurple)
}
.text-black{
  color: var(--primaryBlack)
}
.btn-app{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.5rem !important;
  color: var(--primaryBlack);
  border-radius: 0.1rem !important;
  border: 0.1rem solid var(--lightPurple) !important;
}
.btn-app:hover{
  background: var(--primaryWhite);
  color: var(--lightPurple)
}
.search-input{
  border-radius: 50px 0px 0px 50px;
}